<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name="scan_topic" default="scan" />
  <arg name="base_frame" default="robot_footprint" />

  <param name="use_sim_time" value="true" /> 

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen"  clear_params="true" >
    
    <param name="base_frame"          value="$(arg base_frame)" />
    <param name="map_update_interval" value="30.0"/>

  </node>
</launch>